%section.section#manifesto

  = render 'github'
  = render 'manifesto'

  .manifesto-link
    .row
      .col-sm-offset-4.col-sm-4
        =link_to I18n.t('coder.create'), '#form', :id => "sign_link", :class => "btn btn-success btn-sm btn-block"

%section.section#form

  .manifesto-short
    .row
      .col-sm-offset-2.col-sm-10
        %h1= I18n.t('form.headline')

    .row
      .col-sm-offset-2.col-sm-8
        %p= I18n.t('manifesto.content.sub1')
        %p= I18n.t('manifesto.content.sub2')
        %p= I18n.t('manifesto.content.sub3')
        %p= I18n.t('manifesto.content.sub4')
        %p= I18n.t('manifesto.content.sub5')
        %p= I18n.t('manifesto.footer')

  .manifesto-form
    .row
      .col-sm-offset-2.col-sm-8
        = render 'coders/form'

  .manifesto-privacy
    .row
      .col-sm-offset-2.col-sm-8
        %b= I18n.t('form.privacy.header')
        %p= I18n.t('form.privacy.text')

  .manifesto-link
    .row
      .col-sm-offset-4.col-sm-4
        =link_to I18n.t('manifesto.signers'), '#signers', :id => "view_link"

%section.section#signers
  = render 'signers'
