!!!
%html

  %head
    %meta{:charset => "utf-8"}/
    %title ميثاق المبرمج المسؤول
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "application_ar"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
    %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = tag(:meta, property: "og:title", content: "ميثاق تطوير البرمجيات بشكل مسؤول")
    = tag(:meta, property: "og:description", content: "ميثاق البرمجيات المسؤولة هو نصريح عن مجموعة من القيم تم كتابتها بواسطة مبرمجين تعبوا من الاشخاص الذين يستخدمون علم البرمجة لايذاء الناس ")
    = tag("meta", property: "twitter:creator", content: "@NilsLoewe")
    <script src='https://www.google.com/recaptcha/api.js'></script>


  %body

    #content.container-fluid
      = yield
    = render 'layouts/footer'
    = piwik_tracking_tag
