!!!
%html

  %head
    %meta{:charset => "utf-8"}/
    %title Manifiesto de los programadores responsables
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = tag(:meta, property: "og:title", content: "Manifiesto por el Desarrollo Responsable de Software")
    = tag(:meta, property: "og:description", content: "El Manifiesto por el Desarrollo Responsable de Software es una declaración de valores escritos por desarrolladores de software cansados del uso de sus conocimientos para dañar a otros.")
    = tag("meta", property: "twitter:creator", content: "@NilsLoewe")
    <script src='https://www.google.com/recaptcha/api.js'></script>


  %body
    /[if lt IE 8]
      %p.browserupgrade
        You are using an outdated browser. Please
        %a{:href => "http://browsehappy.com/"} upgrade your browser
        to improve your experience.
    #preloader
      #load  
    .wrapper
      #home
        = yield
      = render 'layouts/footer'
    = piwik_tracking_tag
